html, body{
    height: 100vh;
}


h1{
    font-size: 5rem;
    margin: 5rem;
}
h2{
    font-size: 4rem;
}
p{
    font-size: 2.5rem;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    height: 80vh;
}

.block01, .block03{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}

.block01{
    margin-left: 5rem;
}
.block03{
    margin-right: 5rem;
}

.block02{
    display: grid;
    grid-template-rows: 1fr;
    margin: auto;
    height: 100%;
    margin: 0rem 5rem ;
}

.block01-div1, .block01-div2, .block03-div1, .block03-div2{
    border-radius: 5rem;
    padding: 3rem;
    height: 95%;
}

.block02-div1{
    border-radius: 5rem;
    padding: 3rem;
    height: 97%;
}


/*Cores dos Blocos*/

.block01-div1{
    background-color: var(--backgroudColorTertiary);
}

.block01-div2{
    background-color: var(--backgroudColorQuartenary);
}

.block02-div1{
    background-color: var(--backgroudColorSecondary);
}

.block03-div1{
    background-color: var(--backgroudColorQuartenary);
}

.block03-div2{
    background-color: var(--backgroudColorQuintenary);

}
