.body{
    height: 100vh;
}

.header{
    display: grid;
    grid-template-rows: 1fr;
}

.h1{
    font-size: 5rem;
    margin: 5rem;
}
.h2{
    font-size: 4rem;
}
.p{
    font-size: 2.5rem;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 80vh;
}

.block01, .block03{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    cursor: pointer;
}

.block01{
    margin-left: 5rem;
}
.block03{
    margin-right: 5rem;
}

.block02{
    display: grid;
    grid-template-rows: 1fr;
    margin: auto;
    height: 100%;
    margin: 0rem 5rem ;
    cursor: pointer;
}

.block01Div1, .block01Div2, .block03Div1, .block03Div2{
    border-radius: 5rem;
    padding: 3rem;
    height: 95%;
}

.block02Div1{
    border-radius: 5rem;
    padding: 3rem;
    height: 97%;
}


/*Cores dos Blocos*/

.block01Div1{
    background-color: var(--backgroudColorTertiary);
}

.block01Div2{
    background-color: var(--backgroudColorQuartenary);
}

.block02Div1{
    background-color: var(--backgroudColorSecondary);
}

.block03Div1{
    background-color: var(--backgroudColorQuartenary);
}

.block03Div2{
    background-color: var(--backgroudColorQuintenary);

}
@media (max-width: 1115px){
    .html{
        font-size: 40%;
    }
}

@media(max-width: 850px){
    .main{
        display: grid;
        grid-template-columns: 1fr;
        height: 80vh;
    }
    .block01, .block03{
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
    }

    .block01, .block02, .block03{
        display: grid;
        grid-template-rows: 1fr;
        margin: auto;
        height: 100%;
        margin: 0rem 5rem ;
    }
}