.background{
    background-color: var(--backgroudColorPrincipal);
    height: 100vh;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.launch, .singin{
    background-color: var( --backgroudColorTertiary);
    border-radius: 20px;
    width: 100%;
    height: 20rem; 
    padding: 20px;
}

.box, .login{
    background-color: var( --backgroudColorQuartenary);
    border-radius: 20px;
    width: 100%;
    height: 20rem;
    padding: 20px;
}

.launch, .login{
    margin-bottom: 20px;
    margin-top: 20px;
}

.report{
    background-color: var(--backgroudColorSecondary);
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    height: 41rem;

    
}
.block01{
    margin: 0px 0px 0px 20px;
}
.block03{
    margin: 0px 20px 0px 0px;
}

.block02{
    height: 100%;
    margin: 0px 20px 0px 20px;
}

