.background{
    background-color: var(--backgroudColorPrincipal);
    height: 100vh;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.launch, .singin{
    background-color: var( --backgroudColorTertiary);
    border-radius: 20px;
    width: 100%;
    height: 20rem; 
    padding: 20px;
}

.box, .login{
    background-color: var( --backgroudColorQuartenary);
    border-radius: 20px;
    width: 100%;
    height: 20rem;
    padding: 20px;
}

.launch, .login{
    margin-bottom: 20px;
    margin-top: 20px;
}

.report{
    background-color: var(--backgroudColorSecondary);
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    height: 41rem;

    
}

.footer{
    height: 50px;
    padding: 50px;
}

/*Animation*/
.launch{
    transition: transform 0.3s;
}
.launch:hover{
    transform: scale(1.05);
}

.login{
    transition: transform 0.3s;
}
.login:hover{
    transform: scale(1.05);
}

.singin{
    transition: transform 0.3s;
}
.singin:hover{
    transform: scale(1.05);
}

.report{
    transition: transform 0.3s;
}
.report:hover{
    transform: scale(1.05);
}

.box{
    transition: transform 0.3s;
}
.box:hover{
    transform: scale(1.05);
}

/*Space*/

.block01{
    margin: 0px 0px 0px 20px;
}
.block03{
    margin: 0px 20px 0px 0px;
}

.block02{
    height: 100%;
    margin: 0px 20px 0px 20px;
}



@media (max-width: 800px) {
    
    .block03, .block01, .block02{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .launch,.singin,.login,.report, .box{
        width: 100%;
        height: 20rem;
        margin-bottom: 20px;
    }

    .link{
        margin-left: 20px;
        width: 80%;
    }
}